#startPage {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: var(--darkInnerMenuBgColor);
    color: var(--darkInnerMenuBgColor);
    opacity: 1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#startPageMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#startPage svg {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
}

#layer1 path {
    fill: var(--fontColor);
    stroke: var(--fontColor);
    stroke-width: 1px;
    opacity: 0;
    transition: all 0.505s ease-in;
}

.logo {
    max-width: 400px;
    width: 90%;
    transition: all 0.25s ease-out;
    margin: 0 !important;
}

#startPage a {
    display: flex;
    justify-content: center;
}

#startPage .btn-group {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

#socialLogos {
    width: 100%;
    display: flex;
    justify-content: center;
}

#socialLogos img {
    height: 34px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    transition: all 0.4s ease-out;
}

#socialLogos img:hover {
    fill: red;
    transform: scale(1.1);
}

#startPage button {
    min-width: 40%;
}

#landingPage {
    background-color: var(--darkerInnerMenuBgColor);
    height: 100vh;
    color: var(--fontColor);
    opacity: 1;
    transition: all 0.5s ease-out;
    z-index: 10000;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#lpTopPlaceholder {
    width: 100%;
    height: 15%;
    max-height: 200px;
    min-height: 50px;
    left: 0%;
    top: 0%;
    position: relative;
}

#lpTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    max-height: 200px;
    min-height: 50px;
    left: 0%;
    top: 0%;
    color: white;
    position: fixed;
    z-index: 100;
}

.subtleBorder {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    /* background-color: rgba(192, 192, 192, 0.1); */
    border-radius: 2.5px;
}

#lpMainWrapper {
    width: 100%;
    box-sizing: border-box;
    height: 88%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.lpSection {
    /* width: 100%; */
    /* min-height: 80vh; */
    background-color: var(--darkInnerMenuBgColor);
    color: var(--inputFontColor);
    /* box-shadow: 0em 0em 20px 10px rgba(5, 5, 5, 0.2); */
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
    position: relative;
    padding-top: 10vmin;
    padding-bottom: 5vmin;
    /* margin-top: 5vmin;
	margin-bottom: 5vmin; */
    border-radius: 3px;
}

.lpSection a {
    color: var(--fontWeightedColor);
}

.lpSectionHeader {
    position: relative;
    /* background-color: black; */
    color: white;
    height: 150px;
    padding-top: 9vh;
    font-size: 1.6rem;
    width: 100%;
    left: 0%;
    font-size: 1.6rem;
}

.lpSectionHeader span {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0%;
}

.lpSection span {
    font-size: 1rem;
    width: 80%;
}

.lpSection p {
    font-size: 1.6rem;
    width: 100%;
    margin-top: 0px;
}

#lpHeaderText {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.2em;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: bolder;
}

#screenshotWrapper {
    width: 80%;
    max-width: 900px;
    left: 50%;
    background-size: 100% auto;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#screenshotWrapper img {
    width: 100%;
}

.lpStartButton {
    text-align: center;
    /* opacity: 0; */
    pointer-events: none;
    color: rgb(255, 255, 255);
    background-color: #ffa726;
    font-size: 1rem;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#lpTopStartWrap {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#lpTopStartButton {
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 50%;
    overflow: unset;
    height: unset;
    /* margin: 0.6em; */
    min-height: 40px;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
}

#lpTopStartButton.unhiddenStartButton {
    overflow: unset;
    height: unset;
    /* margin: 0.6em; */
    min-height: 40px;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
}

.lpStartButton:hover {
    background-color: #fb8c00;
}

#features {
    /* display: flex;
	flex-wrap: wrap;
	/* align-items: center; */
    /* justify-content: space-between; */
    width: 80%;
    /* color: rgb(68, 68, 68); */
    margin-left: 10%;
}

.featureBox {
    /* flex: 1 1 0px; */
    /* color: rgb(68, 68, 68); */
    position: relative;
    text-align: center;
    border-radius: 0.4em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    /* width: 200px; */
    /* height: 200px; */
    box-sizing: border-box;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1rem;
    border: 0.1em solid rgb(185, 185, 185);
    border-left: 0.6em solid #0870b6;
    float: none;
}

.featureBox span {
    display: none;
}

.featureBox div {
    /* position: absolute;
	bottom: 0; */
    /* height: 3.2em; */
    /* left: 0; */
    /* font-size: 0.95rem; */
    text-align: left;
    padding: 0.5em;
}

.featureBox .glyphicon {
    padding: 0em;
    position: relative;
    /* font-size: 5vmin; */
    width: 100%;
    float: none;
}

#logoWrapper {
    box-sizing: border-box;
    padding: 2vh;
    max-width: 40%;
    display: flex;
}

#logoImg {
    transition: all 1s;
    height: 100%;
    max-width: 100%;
    margin-left: 10px;
}

.bulletList {
    width: 60%;
    margin-left: 20%;
    text-align: left;
}

.bulletList li {
    font-weight: normal;
    margin-left: 1em;
}

#lpTopMenuWrapper {
    width: 50%;
    height: 100%;
}

.tabsWrapper {
    margin: 0;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#lpTabsWrapperSelectionLine {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 5px;
    background-color: white;
}

.tabDiv {
    flex: 1 1 0px;
    text-align: center;
    float: left;
    color: rgba(195, 195, 195, 1);
    position: relative;
    transition: all 0.2s ease-out;
}

.tabDiv span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    cursor: default;
    /* -webkit-transform: translate(-50%, -50%); */
}

.burgerButton {
    color: rgba(185, 185, 185, 1);
    font-size: 1rem;
    position: relative;
    height: 100%;
    width: 100%;
    float: right;
    display: none;
}

.burgerButton span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 3.5vh;
}

.burgerMenu {
    position: fixed;
    display: none;
    top: 200px;
    width: 100%;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: black;
    transition: all 0.5s ease-out;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: var(--buttonBgColor);
}

.burgerDiv {
    display: none;
    width: 100%;
    float: none;
    margin: 0.5em;
    padding: 0.5em;
    margin-left: -100%;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
    background-color: var(--darkInnerMenuBgColor);
    text-align: center;
    font-size: 3vh;
}

.burgerDiv:hover {
    color: rgba(255, 255, 255, 1);
    background-color: var(--buttonBgColor);
}

.tabDiv:hover,
.burgerButton:hover {
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1300px) {
    .bulletList {
        margin-left: 10%;
        width: 80%;
    }
    .burgerOpened>.burgerDiv {
        display: block;
        margin-left: 0%;
    }
    .burgerMenu {
        display: flex;
    }
    .burgerButton {
        display: block;
    }
    .tabsWrapper {
        display: none;
    }
    #lpTopMenuWrapper {
        width: 25%;
        height: 100%;
    }
}

@media only screen and (max-width: 800px) {
    #logoWrapper {
        width: 90%;
        left: 5%;
    }
    .bulletList {
        margin-left: 5%;
        width: 90%;
    }
    .burgerOpened>.burgerDiv {
        display: block;
        margin-left: 0%;
    }
    .burgerMenu {
        display: flex;
    }
    .burgerButton {
        display: block;
    }
    .tabsWrapper {
        display: none;
    }
    .lpSectionHeader {
        font-size: 1.6rem;
    }
}